.data_time {
  height: 80px;
  margin: 0 auto;
  margin-top: 25px;
  overflow: hidden;
  position: relative;
}
.data_time .tabs {
  padding: 0 25px;
}
.data_time .tabs a {
  color: #5d5d5d;
  font-size: 1.5em;
}
.data_time .tabs a + a {
  margin-left: 20px;
}
.data_time .tabs a.active {
  color: #2274ca;
}
.data_time .swiper-slide ul {
  padding: 0;
  margin: 0;
}
.data_time .swiper-slide ul li {
  display: table-cell;
  padding: 10px;
}
.data_time .swiper-slide ul li span {
  display: block;
  text-align: center;
  white-space: nowrap;
}
.data_time .swiper-slide ul li.active {
  color: #2274ca;
}
.data_time .visible {
  opacity: 1 !important;
  z-index: 2 !important;
}
.ui-select .ui-btn-icon-right .ui-icon {
  right: 0;
}
.tab_content .tabnav li {
  float: left;
}
.love_feel {
  border-top: none;
}
.love_feel .love_box {
  text-align: center;
  padding-top: 10px;
}
.love_feel .love_box img {
  width: 60%;
}
.love_feel .love_box ul {
  display: table;
  width: 80%;
  margin: 20px auto 0;
  margin-top: 20px;
}
.love_feel .love_box ul li {
  display: table-cell;
  text-align: center;
  width: 1%;
}
.love_feel .love_box ul li a span {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url(../img/xiaotub.png);
  background-size: 250px 210px;
}
.love_feel .love_box ul li a.record span {
  background-position: -18px -116px;
}
.love_feel .love_box ul li a.play span {
  background-position: -80px -326px;
}
.love_feel .love_box ul li a.delete span {
  background-position: -392px -327px;
}
.love_feel .love_box ul li a.submit_record span {
  background-position: -454px -326px;
}
.love_feel .love_box ul li a.active.record span {
  background-position: -18px -56px;
}
.love_feel .love_box ul li a.active.play span {
  background-position: -80px -265px;
}
.love_feel .love_box ul li a.active.delete span {
  background-position: -392px -266px;
}
.love_feel .love_box ul li a.active.submit_record span {
  background-position: -454px -266px;
}
.love_feel .love_box ul li a h3 {
  color: #707070;
  font-weight: normal;
  margin-top: 0.5em;
}
.love_feel .love_box ul li a.active h3 {
  color: #307cb4;
}
.love_feel .tab_content .tabnav li .tubiao:before {
  width: 12px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  background: url(../img/xiaotub.png);
  background-size: 250px 210px;
  background-position: -135px -179px;
  margin-right: 3px;
  content: "";
}
.love_feel .tab_content .tabnav li.on .tubiao:before {
  background-position: -109px -180px;
}
.love_feel .box h5:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 19px;
  position: relative;
  margin-right: 10px;
  top: 3px;
  background: url(../img/xiaotub.png);
  background-size: 250px 210px;
  background-position: -20px -177px;
}
.love_feel .box.index_goods_list h5:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 21px;
  position: relative;
  margin-right: 5px;
  top: 3px;
  background: url(../img/xiaotub.png);
  background-size: 250px 210px;
  background-position: -52px -174px;
}
.love_feel .box.index_goods_list h5:after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 21px;
  position: relative;
  margin-left: 5px;
  top: 3px;
  background: url(../img/xiaotub.png);
  background-size: 250px 210px;
  background-position: -84px -174px;
}
.love_feel .box.index_goods_list .chanpin {
  width: 130px;
  margin-top: -20px;
  position: absolute;
}
.love_feel .box.index_goods_list p {
  margin-left: 118px;
  margin-top: -5px;
}
.love_feel .box.index_goods_list p:before {
  width: 90px;
  height: 32px;
  margin: 0 auto;
  display: block;
  background: url(../img/xiaotub.png);
  background-size: 250px 210px;
  background-position: -20px -12px;
  content: "";
}
/*# sourceMappingURL=style.css.map */
