.zhaohui {
  width: 80%;
  margin: 0 auto;
}
.zhaohui .jindutiao {
  position: relative;
  margin-top: 4em;
  margin-bottom: 3em;
}
.zhaohui .jindutiao span {
  width: 12px;
  height: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background: #cdcdcd;
  color: #cccccc;
  position: absolute;
  margin-top: -5px;
  z-index: 2;
}
.zhaohui .jindutiao span:before {
  content: attr(data-content);
  white-space: nowrap;
  position: absolute;
  left: -30px;
  right: -30px;
  margin: auto;
  top: -20px;
  font-size: 12px;
}
.zhaohui .jindutiao span.shoujihao {
  left: 0;
}
.zhaohui .jindutiao span.shenfen {
  left: 33%;
}
.zhaohui .jindutiao span.reset_password {
  left: 66%;
}
.zhaohui .jindutiao span.xiugai_success {
  right: 0;
}
.zhaohui .jindutiao span.active {
  background: #3ea5e7;
  color: #272a1d;
}
.zhaohui .jindutiao > div {
  height: 2px;
}
.zhaohui .jindutiao .progress_up {
  position: absolute;
  left: 0;
  background: #3ea5e7;
}
.zhaohui .jindutiao .progress_bottom {
  background: #cdcdcd;
}
.zhaohui .from_content .from_btn {
  white-space: nowrap;
  margin-bottom: 25px;
  line-height: 30px;
}
.zhaohui .from_content .from_btn label {
  display: inline-block;
  color: #7c7c7c;
}
.zhaohui .from_content .from_btn > div {
  display: inline-block;
}
.zhaohui .from_content .from_btn > div input {
  height: 30px;
  width: 100%;
  text-indent: 5px;
  border: 1px solid #d2d2d2;
}
.zhaohui .from_content .from_btn > div .huantu {
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  top: 5px;
  left: 5px;
}
.zhaohui .from_content .from_btn .btn {
  line-height: 30px;
  display: inline-block;
  background: #46acea;
  text-align: center;
  color: #ffffff;
  border: 1px solid #d9d2ce;
}
.zhaohui .from_content .from_btn .btn:active {
  background: #2491db;
}
.zhaohui.page00 .progress_up {
  width: 0%;
}
.zhaohui.page00 .user_header {
  width: 100px;
  height: 100px;
  margin: 30px auto 10px;
}
.zhaohui.page00 .user_header img {
  width: 100%;
}
.zhaohui.page00 h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #434343;
}
.zhaohui.page00 label {
  width: 20%;
}
.zhaohui.page00 .from_btn div {
  width: 80%;
}
.zhaohui.page00 .from_btn div input.sm_text {
  width: 60%;
  margin-right: 5px;
}
.zhaohui.page00 .from_btn div input.sm_text + a {
  color: #ff2c2d;
}
.zhaohui.page00 .from_btn .btn {
  width: 80%;
}
.zhaohui.page01 .progress_up {
  width: 0%;
}
.zhaohui.page01 label {
  width: 20%;
}
.zhaohui.page01 .from_btn div {
  width: 80%;
}
.zhaohui.page01 .from_btn div input.sm_text {
  width: 40%;
  margin-right: 10px;
}
.zhaohui.page01 .from_btn div input.sm_text + span {
  width: 50px;
  height: 25px;
  display: inline-block;
  vertical-align: bottom;
  background: red;
}
.zhaohui.page01 .from_btn div input.sm_text + span img {
  width: 100%;
  height: 100%;
}
.zhaohui.page01 .from_btn .btn {
  width: 80%;
}
.zhaohui.page02 .progress_up {
  width: 33%;
}
.zhaohui.page02 label {
  width: 30%;
}
.zhaohui.page02 .from_btn .mobile_phone span {
  color: #ff0000;
}
.zhaohui.page02 .from_btn .mobile_phone a {
  float: right;
  color: #3ea7e8;
}
.zhaohui.page02 .from_btn div {
  width: 70%;
}
.zhaohui.page02 .from_btn .btn {
  width: 70%;
}
.zhaohui.page03 .progress_up {
  width: 66%;
}
.zhaohui.page03 label {
  width: 30%;
}
.zhaohui.page03 .from_btn div {
  width: 70%;
}
.zhaohui.page03 .from_btn .btn {
  width: 70%;
}
.zhaohui.page04 .progress_up {
  width: 100%;
}
.zhaohui.page04 .success_meg {
  margin-top: 120px;
  margin-bottom: 120px;
  color: #666666;
  text-align: center;
}
.zhaohui.page04 .success_meg a {
  color: #191919;
}
.zhaohui.page04 .success_meg:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  content: url(../img/success_meg.png);
}
menu .menu_content .btn {
  float: left;
}
/*# sourceMappingURL=style2.css.map */
