.zhaohui {
  width: 80%;
  margin: 0 auto;
}
.zhaohui .jindutiao {
  position: relative;
  margin-top: 4em;
  margin-bottom: 3em;
}
.zhaohui .jindutiao span {
  width: 12px;
  height: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background: #cdcdcd;
  color: #cccccc;
  position: absolute;
  margin-top: -5px;
  z-index: 2;
}
.zhaohui .jindutiao span:before {
  content: attr(data-content);
  white-space: nowrap;
  position: absolute;
  left: -30px;
  right: -30px;
  margin: auto;
  top: -20px;
  font-size: 12px;
}
.zhaohui .jindutiao span.shoujihao {
  left: 0;
}
.zhaohui .jindutiao span.shenfen {
  left: 33%;
}
.zhaohui .jindutiao span.reset_password {
  left: 66%;
}
.zhaohui .jindutiao span.xiugai_success {
  right: 0;
}
.zhaohui .jindutiao span.active {
  background: #3ea5e7;
  color: #272a1d;
}
.zhaohui .jindutiao > div {
  height: 2px;
}
.zhaohui .jindutiao .progress_up {
  position: absolute;
  left: 0;
  background: #3ea5e7;
}
.zhaohui .jindutiao .progress_bottom {
  background: #cdcdcd;
}
.zhaohui .from_content .from_btn {
  display: table;
  width: 100%;
  line-height: 30px;
  margin-bottom: 20px;
}
.zhaohui .from_content .from_btn label {
  display: table-cell;
  color: #7c7c7c;
  width: 20%;
  padding-right: 5px;
  white-space: nowrap;
  vertical-align: middle;
}
.zhaohui .from_content .from_btn input {
  width: 100%;
  height: 30px;
  text-indent: 5px;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
}
.zhaohui .from_content .from_btn span {
  width: 50px;
  height: 30px;
  padding-left: 5px;
  display: table-cell;
  vertical-align: bottom;
}
.zhaohui .from_content .from_btn span img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.zhaohui .from_content .from_btn .huantu {
  display: inline-block;
  white-space: nowrap;
  vertical-align: bottom;
  font-size: 12px;
  cursor: pointer;
}
.zhaohui .from_content .from_btn .btn {
  line-height: 30px;
  display: table-cell;
  width: 100%;
  background: #46acea;
  text-align: center;
  color: #ffffff;
  border: 1px solid #d9d2ce;
}
.zhaohui .from_content .from_btn .btn:active {
  background: #2491db;
}
.zhaohui.page00 .progress_up {
  width: 0%;
}
.zhaohui.page00 .user_header {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 30px auto 10px;
}
.zhaohui.page00 .user_header img {
  width: 100%;
}
.zhaohui.page00 h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #434343;
}
.zhaohui.page00 .from_btn #send {
  display: table-cell;
  width: 90px;
  text-align: center;
  white-space: nowrap;
  padding-left: 10px;
}
.zhaohui.page01 .progress_up {
  width: 0%;
}
.zhaohui.page02 .progress_up {
  width: 33%;
}
.zhaohui.page02 .from_btn #send {
  float: right;
  cursor: pointer;
}
.zhaohui.page02 .from_btn #send + span {
  float: left;
}
.zhaohui.page03 .progress_up {
  width: 66%;
}
.zhaohui.page04 .progress_up {
  width: 100%;
}
.zhaohui.page04 .success_meg {
  margin-top: 120px;
  margin-bottom: 120px;
  color: #666666;
  text-align: center;
}
.zhaohui.page04 .success_meg a {
  color: #191919;
}
.zhaohui.page04 .success_meg:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  content: url(../img/success_meg.png);
}
menu .menu_content .btn {
  float: left;
}
/*# sourceMappingURL=style2.css.map */
